.container {
  margin: 0 auto;
}

/* The side-by-side elements */
.inline-box {
  display: inline-block;
  width: 8em; /* Stays under 50% to make room for margins */
  vertical-align: top; /* Align tops if content heights differ */
  box-sizing: border-box; /* Includes padding & border in the 48% width */
}

/* Removes the right margin from the last box to prevent wrapping */
.inline-box:last-of-type {
  margin-right: 0;
}
